16px == 1rem

html { font-size: 16px; }

* {box-sizing: border-box}

* {
  background-color: #
}

.nav-bar {
  width: 75%;
  padding: 15px;
  margin: auto;
}

.nav-bar {
  text-align: center;
}

.nav-bar {
  font-size: 3rem
}

.nav-bar a:active {
  color: black
}

.nav-bar a:visited {
  color: #FFFADA;
}

.nav-bar {
  background-color: #B28AA0;
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5px;
  font-family: 'Merriweather', serif;
}

.project-list a:active {
  color:cornflowerblue
}

.project-list a:visited {
  color:deeppink
}

.aboutme {
  background-color: #7EADB2;
  text-shadow: 0 0 1px #0000FF;
  font-family: 'Exo 2', sans-serif;
}

.aboutme {
  float: left;
  width: 65%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  margin-left: 3rem;
}

.face {
  float: right;
  width: 25%
}

.face img {
  width: 75%;
}

.am-footer {
  clear: both;
  font-family: 'Exo 2', sans-serif;
  margin: 5rem
}

.title {
  margin: .5rem
}