16px == 1rem

html { font-size: 16px; }

* {box-sizing: border-box}

.nav-bar {
  width: 75%;
  padding: 15px;
  border: none;
  margin: auto
}

.nav-bar {
  text-align: center
}

.nav-bar {
  font-size: 3rem
}

.nav-bar a:active {
  color: black
}

.nav-bar a:visited {
  color: skyblue
}

.nav-bar {
  background-color: antiquewhite
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5px;
  font-family: 'Merriweather', serif;
}

.project-list a:active {
  color:cornflowerblue
}

.project-list a:visited {
  color:deeppink
}

.aboutme h2 {
  text-shadow: 0 0 1px #0000FF;
  font-family: 'Exo 2', sans-serif;
}

.am-footer {
  font-family: 'Exo 2', sans-serif;
}

.title {
  margin: .5rem
}